@model WebApp_Desafio_Shared.ViewModels.ChamadoViewModel

@{
    var listaDepartamentos = ViewData["ListaDepartamentos"] as List<WebApp_Desafio_Shared.ViewModels.DepartamentoViewModel>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chamados</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-action="Listar" asp-controller="Chamados">Chamados</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="ibox-content">
                    <form asp-action="Cadastrar" asp-controller="Chamados" id="form" method="post">
                        <input type="hidden" asp-for="ID" />

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <label class="col-form-label" asp-for="DataAbertura">Data de Abertura</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    <input type="text" class="form-control" asp-for="DataAbertura" asp-format="{0:dd/MM/yyyy}" required>
                                </div>
                                <span asp-validation-for="DataAbertura" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label class="col-form-label" asp-for="Assunto">Assunto</label>
                                <input type="text" class="form-control" asp-for="Assunto" required>
                                <span asp-validation-for="Assunto" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label class="col-form-label" asp-for="IdSolicitante">Solicitante</label>
                                <select class="form-control" asp-for="IdSolicitante" id="solicitante-select" required>
                                    @if (Model.ID > 0)
                                    {
                                        <option value="@Model.IdSolicitante" selected="selected">@Model.Solicitante</option>
                                    }
                                </select>
                                <span asp-validation-for="IdSolicitante" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label" asp-for="IdDepartamento">Departamento</label>
                                <select class="form-control" asp-for="IdDepartamento" asp-items="@(new SelectList(listaDepartamentos, "ID", "Descricao"))" required>
                                    <option value="">Selecione um departamento</option>
                                </select>
                                <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-white" type="button" id="btnCancelar">Cancelar</button>
                                <button class="btn btn-primary" type="button" id="btnSalvar">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Chamados/Cadastrar.js"></script>
}